header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 50%;
  height:50px;
  padding: 20px 40px;
  background: rgba(53, 52, 52, 0);
  box-sizing: border-box;
  font-family: 'Yuji Boku', serif;
  font-size:large;
}
header .inner {
  position: relative;
  /*display: flex;*/
  align-items: center;
  height: 100%;
}
.logo {
  position: relative;
  margin: 0;
  padding: 0;
  width: 300px;
  font-weight: bold;
  color: aliceblue;
}

/* header-navi */
header .navi {
  margin: 0 0 0 auto;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  list-style: none;
}
header .navi li {
  margin: 5px 0 5px 40px;
}
header .navi li:first-child {
  margin-left: 0;
}
header .navi li a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: aliceblue;
}
header .navi li a:hover {
  text-decoration: underline;
}

/* layout */
body { 
  height: 100%;
  background: rgba(53, 52, 52, 70);
}
html {
  height: 100%; 
}
#map { height: 100%; width: 100%}

.border-radius {
  width: 300px;
  height: 50px;
  line-height: 50px;
  background-color: rgba(46, 42, 108, 0.815);
  border-radius: 100vh;
  color: #fff;
  font-weight: bold;
  text-align: center;
}